# Gradle
.gradle/
build/
*/build/
local.properties

# Kotlin
.kotlin/

# Android Studio
.idea/
*.iml

# Native builds
.cxx/
.externalNativeBuild/

# macOS
.DS_Store

# Other
captures/
